@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
  font-family: Russo One;
}

body {
  user-select: none;
  background-color: lighten(grey, 5%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
    outline: 5px solid orange;
    position: relative;
    width: 660px;
    text-align: center;
    background-color: lighten(grey, 20%);
}
  .pad-bank {
        width: $padWidth * 3 + 32;
        height: $padHeight * 3 + 32;
        display: inline-block;
        margin: 20px;
  }
    .drum-pad {
      position: relative;
      float: left;
      width: 10rem;
      height: 5rem;
      margin-right: 10px;
      border-radius: 5px;
      padding-top: 35px;
      box-sizing: border-box;
      cursor: pointer;
  }
  
  .controls-container {
        width: 240px;
        height: $padHeight * 3 + 32;
        display: inline-block;
        margin: 40px 20px 0 10px;
        vertical-align: top;
  }
.control {
    width: 100px;
    margin: auto;
}
    p {
    margin-bottom: 0;
    }

#display {
    width: 200px;
    background-color: gray;
    margin: 15px auto;
    padding: 15px;
    box-sizing: border-box;
}

.outer-select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}

.inner-select {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}

